<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NNLibraries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NNLibrariesTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C0157BB1A4BF3B200F6ECAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C0157C51A4BF3B200F6ECAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1A7BC91B80996F00BAA12F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE4616E1A4459780027FF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE461791A4459780027FF22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CEB28D11B67CE9F004A809C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CEB28DB1B67CE9F004A809C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
